<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Hewan</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Daftar Hewan</h1>
    <ul>
        <% animals.forEach(function(animal) { %>
            <li>
                <%= animal.name %> - <%= animal.species %> - Umur: <%= animal.age %> tahun
                <a href="/edit/<%= animal.id %>">Edit</a> <!-- Link Edit -->
            </li>
        <% }); %>
    </ul>
</body>
</html>
